body{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html, body {
    margin: 0; height: 100%; overflow: hidden
}


/*MENU*/

.menu-container{
    width: 100vw;
    height: 100vh;
    background-image: url("images/test2.jpg");
    background-position: center 0%;
    background-size: cover;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}


.menu-container.close{
    transform: translateY(0%);
}

.menu-container.open{
    transform: translateY(-50%);

}

.nav-toggle{
    width: 5.25rem;
    height: 5.25rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 84%;
    transform: translateX(-50%);
    background: #C45BAA;
    border: none;
    outline: none;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    transition-timing-function: ease-in;
    transition-property: transform;
    transition-duration: 200ms;
}



.nav-toggle:hover{
    transform: translateX(-50%) scale(1.05);
}

.nav-toggle:active{
    transform: translateX(-50%) scale(0.96);
}

.nav-toggle > i{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%) scale(0.96);
    color: #E1D89F; 
    font-size: 2rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
}

.nav-toggle:hover > .open{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}

.nav-toggle > .close{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
}




/*NAVIGATION*/


nav{
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
}

.nav-item-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.nav-link-img{
    width: max(15vw, 325px);
    aspect-ratio: 1.8/ 1;
    margin-top: 0.75rem;
    object-fit: cover;
    border-radius: 0.5rem;
}


.nav-links{
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    padding: 0rem clamp(1rem 2vw, 2rem);
    transform: translateY(70%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
    width: 100vw;
    justify-content: space-around;
    margin-bottom: -1rem;
    height: 50vh;
    overflow: hidden;
}

.nav-item > a {
    text-decoration: none;
    color: black;
    margin-top: 200px;
}

.nav-item:hover .nav-link-img {
    transform: scale(.97);
    transition-timing-function: ease;
    transition-duration: 400ms;
}


.nav-item:hover .nav-item-title {
    transform: translateX(5%);
    transition-timing-function: ease;
    transition-duration: 300ms;
}


.nav-links.open{
    transform: translateY(0%) scale(1);
}


